/* 1st page  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f1f1f1;
   
}
.myquizapp{
    width: 320px;
    height: 580px;
    position: absolute;
    left:50%;
    top: 50%;
    background-color: #fff;
    box-shadow: rgb(0 0 0 /10%)0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px ;
}
 
.img img{
   width: 100%;
      
}
.text{
    width: 90%;
    margin: auto;
}
.text h3{
    margin-top: 20px;
}
.button{
    width: 60%;
    margin-top: 23px;
    margin-left: 170px!important;
}
 
.button button{
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    border:none;
    outline: none;
    color: #fff;
    padding: 6px 25px;
    cursor: pointer;
    border-radius: 57px 0px 51px 0px;
    transition: 0.2s ease-in-out;
}  

.button button:hover{
    background-color: rgb(29,194,194);
}

/* 2nd page  */
.rulesbox{
    width: 320px;
    height: 580px;
    position: absolute;
    left:50%;
    top: 50%;
    background-color: #fff;
    box-shadow: rgb(0 0 0 /10%)0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px ;
}
.ruleslist{
    width: 80%;
    margin: auto;
}
.rulestitle{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
ol li{
    font-size: 17px;
    font-weight: 500;
    padding: 15px 30px;
}
.buttons button{
    font-size: 20px;
    font-weight: 600;
    background-color: tomato;
    border:none;
    outline: none;
    color: #fff;
    padding: 6px 25px;
    cursor: pointer;
   transition: 0.2s ease-in-out;
   margin-top: 50px;
}
.exit-button{
    border-radius: 0px 47px 0px 46px;
}
.continue-button{
    border-radius: 57px 0px 46px 0px;
    margin-left: 36px;
}
.buttons button:hover{
    background-color: rgb(29,194,194);
}
   